.login{
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 20px;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 5px 9px 16px #6b6b6b40; /*0b4df3*/
    padding: 20px;
}

.h2{
    margin: 0;
    margin-bottom: 30px;
}

.buttonOk{
    margin-top: 20px;
    width: 60px;
    height: 23px;
    background-color: #d6d6d6;
    border: none;
    box-shadow: 2px 2px 0 0  #b5aeae;
    cursor: pointer;
}

.signIn{
    display: flex;
    gap: 70px;
    margin-top: 92px;
    justify-content: center;
}

.button{
    margin-top: 30px;
    border: none;
    border-radius: 5px;
    border: 1px #dbdbdb solid;
    width: 100px;
    height: 40px;
    background-color: #ffffff;
    /* box-shadow: 5px 9px 16px #6b6b6b40; */
    transition: all 0.2s ease-in;
}