.panel{
    min-width: 276px;
    width: 276px;
    height: 370px;
    border-radius: 14px;
    background-color: #ffffff;
    box-shadow: 5px 9px 16px #6b6b6b40; /*0b4df3*/
    overflow: hidden;
    padding: 14px 15px 36px 18px;
    box-sizing: border-box;
}

.header{
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 18pt;
}

.dateDay{
    font-family: DINRoundpro;
    font-weight: lighter;
    font-size: 12pt;
    line-height: 12pt;
    color: #989898;
    margin: 0;
}
.dateTime{
    font-family: DINRoundpro;
    font-weight: lighter;
    font-size: 18pt;
    line-height: 18pt;
    color: #989898;
    margin: 0;
}

.panelName{
    margin: 0;
    color: color;
    font-family: Bahnschrift;
    font-weight: 400;
    font-size: 18pt;
    line-height: 17pt;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.date{
    display: flex;
    align-items: end;
}

.chart{
    height: 400px;
    width: 10px;
}

.text{
    margin: 0;
    font-family: Bahnschrift;
    font-weight: 400;
    font-size: 14pt;
}

.textMod{
    margin: 0;
    font-family: Bahnschrift;
    font-weight: 700;
    font-size: 18pt;
}

.setData{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.input{
    border: none;
    border-bottom: 1px solid;
    border-color: #dbdbdb;
    margin-bottom: 12px;
}

.textarea{
    width: 98%;
    min-width: 98%;
    max-width: 98%;
    height: 170px;
    min-height: 170px;
    max-height: 170px;
    border-color: #dbdbdb;
}

.menuButtons{
    margin-top: 20px;
    display: flex;
    margin: auto;
    margin-top: 20px;
    gap: 20px;
    cursor: pointer;

}

.button{
    border: none;
    border-radius: 5px;
    border: 1px #dbdbdb solid;
    width: 100px;
    height: 40px;
    background-color: #ffffff;
    /* box-shadow: 5px 9px 16px #6b6b6b40; */
    transition: all 0.2s ease-in;
}
.button:hover{
    background-color: black;
    color:white;
}