.mainWrapper{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 92px;
    position: relative;
}
.Main{
    display: flex;
    margin-right: 0;
    gap: 34px;

}

.funcChanger{
    position: sticky;
    box-sizing: border-box;
    top: 200px;
    width: 115px;
    height: 99px;
    background-color: #ffffff;
    border-radius: 4px;
    padding-left: 18px;
    box-shadow: 0px 9px 16px #6b6b6b30;

}

.funcChangerMenu{
    width: 115px;
    height: 99px;
    display: flex;
    flex-direction: column;
    font-family: Bahnschrift;
    font-weight: 500;
    font-size: 24pt;
    justify-content: center;
    line-height: 24pt;
}

.funcChangerButt{
    height: 24pt;
    width: fit-content;
}

.books{  
    display: flex;
    flex-flow: wrap;
    gap: 40px;
}



.dataPanel{
    position: sticky;

    top: 200px;
    height: 100%;
}