.main{
    display: flex;
    gap: 60px;
    margin-top: 92px;
    height: auto;
}

.createTask{
    background-color: #fff;
    box-shadow: 5px 9px 16px #6b6b6b40; /*0b4df3*/
    width: fit-content;
    padding: 20px;
    border-radius: 5px;
    height: 317px;
    box-sizing: border-box;
    /* max-height: 317px; */
}


.input{
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    height: 20px;
    width: 98%;
}

.textareai{
    display: block;
    padding: 10px;
    max-width: 300px;
    min-width: 200px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    max-height: 115px;
    min-height: 115px;
  }

.toDo{
    color: white;
    width:33%;
    overflow: hidden;
    min-height: 317px;
    height: fit-content;
    border-radius: 12px;
    border: 2px dashed #c9c9c9;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 1px;
    padding-bottom: 10px;
}

.toDoSelect{
    color: white;
    width: 200px;
    /* height: 350px; */
    max-height: max-content;
    border-radius: 12px;
    border: 3px solid grey;
    box-shadow: 1px 1px 1px #999;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 1px;
    padding-bottom: 10px;
}


.task{
    color: black;
    background-color: #fff;
    box-shadow: 5px 9px 16px #6b6b6b40; /*0b4df3*/
    width: 97%;
    max-width: 97%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    transition: all .4s ease-out;
}

.task:hover{
    background-color: #d0a4a4;
    max-height: fit-content;
}

.h3{
    color: black;
    margin: 0;
    margin-bottom: 20px;
}



.buttonCreate{
    display: block;
    margin: auto;
    margin-top: 10px;
    max-width: 100px;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

.remove{
    background-image: url('../../../image/trash-2.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    
    width: 20%;
    height: auto;
    align-items: center;
    overflow: hidden;
    transition: all 0.4s ease-out;
    transform: rotate(0);
}

.remove:hover{
    overflow: hidden;
    transform: rotate(-45deg);
}

.info{
    max-width: 77%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
}

.taskName{
    width: 100%;
    height: fit-content;
    top: -10px;
    align-items: center;
}

.h4{
    margin: 0;
    font-size: 18pt;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.p{
    margin-top: 2px;
    display: block;
    word-wrap: break-word;
    color: black;
    max-width: 100%;
    overflow: auto;
    height: fit-content;
}

.p::-webkit-scrollbar {
    width: 5px;
}


 .p::-webkit-scrollbar-track {
    background-color: #dbdbdb;
    border-radius: 50px;
  }
   

.p::-webkit-scrollbar-thumb {
    background: #a3a3a3;
    border-radius: 50px;
    -webkit-transition: all 2s ease-out;
    -moz-transition: all 2s ease-out;
    -o-transition: all 2s ease-out;
    transition: all 2s ease-out;
  }
  

.p::-webkit-scrollbar-thumb:hover {
    background: #878787; 
}

